<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand">Neural networks</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home/theory">Theory</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home/app">App</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home/user-guide">User guide</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>