{% extends './base.html' %}

{% block page %}
    <form method="post">
        <div class="mb-3 row">
            <div class="col-sm-2">
                {% csrf_token %}
                {{ layers_form }}
                <input type="submit" name="layers_form" class="btn btn-primary mt-2" value="Update hidden layers">
            </div>
        </div>
    </form>
    {% if layers_form.hidden_layers.value > "0" %}
        <form method="post">
            {{ layer_formset.management_form }}
            {% csrf_token %}
            {% for form in layer_formset %}
                <div class="row mb-3">
                    <h4>Layer {{ forloop.counter }}</h4>
                    {% for field in form %}
                    <div class="col-sm-2">
                        {{ field.label }}
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-sm-2">
                    <input type="submit" name="layer_formset" class="btn btn-primary mt-2" value="Update layers">
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}
