{% extends '../base.html' %}

{% block title %}
    Choose and describe hidden layers
{% endblock  %}

{% block content %}
    <form method="post">
        <div class="mb-3 row">
            <div class="col-sm-2">
                {% csrf_token %}
                {{ layers_form.as_div }}
                <input type="submit" name="layers_form" class="btn btn-primary mt-2" value="Update hidden layers">
            </div>
        </div>
    </form>
    {% if layers_form.hidden_layers.value > "0" %}
        {% comment %} {% include "../custom_components/modal.html" with title="radil" %} {% endcomment %}
        <form method="post">
            {{ layer_formset.management_form }}
            {% csrf_token %}
            {% for form in layer_formset %}
                <div class="row">
                    <h4>Layer {{ forloop.counter }}</h4>
                </div>
                <div class="row mb-3 pb-1 border border-2">
                    {% for field in form %}
                        <div class="col-sm-2">
                            {{ field.label }} 
                            <br />
                            {{ field }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-sm-2">
                    <input type="submit" name="layer_formset" class="btn btn-primary mt-2" value="Update layers">
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}
